@import url(./reset.css);

.section {

    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin: 0 auto;
    font-size: 4em;
  }

.sec1{
    background: url('https://picsum.photos/id/1061/800/600') no-repeat;
    background-size: 100%;
}

.sec2{
    background: url('https://picsum.photos/id/1045/800/600') no-repeat;
    background-size: 100%;
}

.sec3{
    background: url('https://picsum.photos/id/1021/800/600') no-repeat;
    background-size: 100%;
}

.fp-controlArrow{
    margin-right: 2.1rem;
}