@import url(./reset.css);

  
  .card{
    overflow: hidden;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: block;
    margin: 2rem auto;
  }
  
  .container{
    padding: 4px 16px;
    background-color: white;
    
  }